.person-details {
    display: flex;
    padding: 1rem;
    margin-left: 30px;
    margin-right: 30px;
}

.person-details .person-image {
    width: 30%;
    height: 40%;
    border-radius: 10px;
    margin-right: 1rem;
}

.person-details .list-group-flush {
   padding: 0;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term {
    margin-right: .5rem;
}

.attention-block {
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    text-align: center;
}