.error-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: cornflowerblue;
}

.error-indicator .star {
    width: 20%;
    height: 60%;
    margin-top: 10px;
}

.error-indicator .boom {
    font-size: 20px;
}

.end-stroke {
    margin-bottom: 10px;
}